<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need microphone access to let you capture voice notes.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We use speech recognition to transcribe your voice notes.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need photo access so you can capture images of things to remember.</string>
</dict>
</plist>
